@use '../../partials/mixins' as *;

.nominations{
    @include glass(7.5px);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    align-self: stretch;

    &__title{
        margin: 0 0 1rem;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__movie{
        display: flex;
        justify-content: space-between;
    }
}