@use '../../partials/mixins' as *;

.progress{
    display: flex;
    align-items: center;
    @include glass(7.5px);
    margin-bottom: 1rem;

    &__track{
        padding: 0.5rem 1.5rem;
        text-align: right;
        background: #268060CC;
        border-radius: 0;
        border-bottom-right-radius: 9px;
        border-top-right-radius: 9px;
    }

    &__bar{
        display: flex;
        width: 100%;
        margin: 0 1rem;
        &-sec{
            width: 20%;
            height: 10px;
            background: #268060;

            &:nth-child(1){
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:nth-child(5){
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}