@font-face{
    src: url('../assets/fonts/NotoSans-Regular.ttf');
    font-family: "Noto Sans";
}

@font-face{
    src: url('../assets/fonts/NotoSans-Bold.ttf');
    font-family: "Noto Sans";
    font-weight: 600;
}