@use "./partials/mixins" as *;
@use "./partials/fonts" as *;
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    color: white;
}

body{
    background: linear-gradient(to bottom, #0e0e0e, #1c2b3a, #004d61, #007374, #00976d, #3da261, #63ac53, #88b445, #7fac43, #75a442, #6d9c40, #64943e) fixed;
    // background-repeat: no-repeat;
}

.home{
    position: relative;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    @include desktop{
        margin: 3rem 0 1rem;
    }
    
    &__title{
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        font-style: italic;

        &::before{
            background: url('./assets/shopify.svg');
            background-size:2.53rem 2.5rem;
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 0.5rem;
            content: "";
            
        }
    }

}

.logo{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
}

.wrap{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    @include tablet{
        min-width: 700px;
        margin: 0 auto;
    }

    @include desktop{
        min-width: 1000px;
    }
    
    gap: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 1rem;

    @include tablet{
        flex-direction: row;
    }
}

